
.generated-form .form-table tr {
	height: 45px;
}

.generated-form .form-table td {
	padding-left: 10px;
	vertical-align: top;
}

.generated-form .form-table td:first-child {
	padding-left: 0px;
}

.generated-form div {
	margin-bottom: 12px;
}

.generated-form input[type="submit"] {
	margin-top: 12px;
	min-width: 150px;
}

