/* General */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
	0%   {-webkit-transform: rotate(2deg); }
	100% {-webkit-transform: rotate(-2deg); }
}

html {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
	margin: 0;
    padding-top: 50px;
    padding-bottom: 20px;
    min-width: 650px;
}

a:hover {
	color: #777;
}
a {
	color: inherit;
	text-decoration: none;
	transition: color .3s linear;
}

h3 {
	font-size: 24px;
	font-weight: normal;
}

.center {
	text-align: center;
}

/********************/


/* Code des content-bordered */
.content-bordered {
	border: 1px #D6D6D6 solid;
	border-radius: 4px;
	margin: 5px;
	box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
	background-color: white;
}

.content-bordered .content-bordered-title {
	background-image: linear-gradient(rgb(245, 245, 245) 0px, rgb(232, 232, 232) 100%);
	border-bottom: 1px #D6D6D6 solid;
	border-radius: 4px 4px 0 0;
	padding: 6px;
}

.content-bordered .content-bordered-title .panel-title {
	margin: 5px;
	font-weight: normal;

}


.content-bordered p {
	padding-left: 20px;
	padding-right: 20px;
}

.content-bordered-item + .content-bordered-item {
	margin-left: 30px;
}

.only-reponsive { 
	display: none;
}
/********************/


/* Header */
header {
	background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0 auto;
	color: #DDDDDD;
	box-shadow: 1px 1px 5px #888888; 
	z-index: 99;
}

/* Barre navigation */
#fixedbar{
	height: 35px;
	width: 100%;
	min-width: 650px;
}

#fixedbar ul {
	list-style: none;
}

#fixedbar ul li {
	float: left;
	height: 100%;
	margin-left: 14px;
	margin-right: 14px;
	padding-left: 10px;
	padding-right: 10px;
}

#fixedbar ul li.mn :hover {
	color: rgb(231, 139, 3);
	transition: color ease-in-out .15s;
}

#fixedbar ul li a{
	padding-top: 18px;
	padding-bottom: 14px;
	padding-left: 11px;
	padding-right: 11px;
}

.main-title {
	font-size: 18px;
	display: inline-block;
	margin-top: -18px;
	margin-left: -52px;

	-webkit-transform: rotate(7deg);
	-moz-transform: rotate(7deg);
	-o-transform: rotate(7deg);
	-ms-transform:rotate(7deg)

	animation-name:myfirst;
	animation-duration:5s;
	animation-timing-function:linear;
	/*animation-delay:2s;*/
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-play-state:running;
	/* Safari and Chrome: */
	-webkit-animation-name:myfirst;
	-webkit-animation-duration:1s;
	-webkit-animation-timing-function:linear;
	/*-webkit-animation-delay:2s;*/
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:alternate;
	-webkit-animation-play-state:running;
}

.main-title {
	font-weight: bold;
}

.main-title span:nth-child(odd) {
	color: #E19118;
}

.main-title span:nth-child(even) {
	color: #EEEEEE;
}

#header-login {
	float: left;
	display: block;
	/*
	margin-right: 170px;
	position: fixed;*/
}

.deconnection {
	float: right;
}

.connection {

}

@media screen and (max-width: 1022px) {
	#fixednav {
		/*display: none;*/
	}

	.main-title {
		margin-left: -60px;
	}

	.mn {
		width: 50px;
	}

	.only-reponsive {
		display: block;
	}

	.no-reponsive {
		display: none;
	}
}

@media screen and (max-width: 1200px) {
	#header-login {
		display: none;
	}
}
/********************/


/* Badges */
.badge {
	background-color: rgb(153, 153, 153);
	box-shadow: rgba(0, 0, 0, 0.0470588) 0px 2px 2px 0px;
	color: white;
	font-weight: bold;
	border-radius: 8px;
	font-size: 70%;
	padding: 2px;
	padding-left: 6px;
	padding-right: 6px;
	white-space: nowrap;
}

.badge-admin {
	background-color: darkred;
	box-shadow: rgba(0, 0, 0, 0.0470588) 0px 2px 2px 0px;
	color: white;
	font-weight: bold;
	border-radius: 8px;
	font-size: 70%;
	padding: 2px;
	padding-left: 6px;
	padding-right: 6px;
	white-space: nowrap;
}

.badge-premium {
	background-image: linear-gradient(rgb(240, 173, 78) 0px, rgb(236, 151, 31) 100%);
	box-shadow: rgba(0, 0, 0, 0.0470588) 0px 2px 2px 0px;
	color: white;
	font-weight: bold;
	border-radius: 8px;
	font-size: 70%;
	padding: 2px;
	padding-left: 6px;
	padding-right: 6px;
	white-space: nowrap;
}

.badge + .badge {
	margin-left: 10px;
	margin-right: 10px;
}

/********************/

/* Listes */
.list-unstyled {
	list-style-type: none;
	margin-left: -20px;
}
/********************/

/* Images */
.thumbnail {
	border: 1px #D6D6D6 solid;
	padding: 5px;
	box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
}
/********************/

/* Icones */
.icon:before {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	margin-right: 4px;
}

.arrow-left:before {
	content: "\e091";
}

.reset:before {
	content: "\e031";
}

.floppy-disk:before {
	content: "\e172";
}

.warning-sign:before {
	content: "\e101";
}

.tick:before {
	content: "\e013";
}

.magnifier:before {
	content: "\e003";
}

.cross:before {
	content: "\e014";
}

.user:before {
	content: "\e008";
}

.list:before {
	content: "\e056";
}

.edit:before {
	content: "\e065";
}

.pencil:before {
	content: "\270f";
}

.respond:before {
	content: "\e095";
}

.home:before {
	content: "\e021";
}


.contact:before {
	content: "\e041";
}

.plus:before {
	content: "\2b";
}

.like:before {
	content: "\2b";
	font-size: 80%;
}

.like:hover {
	color: green;
	cursor: pointer;
}

.dislike:before {
	content: "\2212";
	font-size: 80%;
}

.dislike:hover{
	color: red;
	cursor: pointer;
}

.ok-sign:before {
	content: "\e084";
	color: green;
}

.false:before {
	content: "\e083";
	color: red;
}

.best:before {
	content: "\e013";
}

.search:before {
	content: "\e003";
}

.chev-right:before {
	content: "\e011";
}

.eye:before {
	content: "\e105";
}


/********************/

/* Bouton */
.btn {
	box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
	background-image: linear-gradient(rgb(240, 173, 78) 0px, rgb(236, 151, 31) 100%);
	border: 1px rgb(213, 133, 18) solid;
	border-radius: 4px;
	padding: 7px;
	padding-left: 12px;
	padding-right: 12px;
	color: white;
	font-size: 15px;
	text-shadow: rgba(0, 0, 0, 0.2) 0px -1px 0px;
	display: block;
	text-align: center;
}

.btn.button-style2 {
	margin-top: -7px;
	padding-left: 30px;
	padding-right: 30px;
	background-image:
	linear-gradient(rgb(50, 50, 50) 0px, rgb(25, 25, 25) 100%);
}
.btn.connection, .btn.registration {
	margin-top: -7px;
	margin-right: 15px;
	padding-left: 30px;
	padding-right: 30px;
	float: right;
}

.btn.registration {
	background-image: linear-gradient(rgb(50, 50, 50) 0px, rgb(25, 25, 25) 100%);
}

.btn.deconnection {
	margin-top: -7px;
	margin-right: -15px;
	margin-left: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

.btn:hover {
	border-color: #d58512;
	cursor: pointer;
}

.btn:active {
	background-image: linear-gradient(rgb(236, 151, 31)  0px, rgb(240, 173, 78) 100%);
	box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
	box-shadow: inset 0px 2px 5px 0px #656565;
}

.btn:disabled, .btn-disabled {
	background-image: linear-gradient(rgb(245, 245, 245) 0px, rgb(232, 232, 232) 100%);
	border: 1px solid lightgray;
	color: gray;
}

.btn:disabled:hover, .btn-disabled:hover {
	background-image: linear-gradient(rgb(245, 245, 245) 0px, rgb(232, 232, 232) 100%);
	border: 1px solid lightgray;
	color: gray;
}



/********************/

/* Formulaires */
input:disabled {
	background-image: linear-gradient(rgb(252, 252, 252) 0px, rgb(245, 245, 245) 100%);
}

.form-connection {
display: block;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.5;
margin-top: -7px;
color: #555;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 4px;
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.co{
	margin-left: 5px;
	margin-right: 5px;
}
/********************/

/* Contenu page */
section, footer {
	max-width: 1200px;
	margin: auto;
	padding-right: 0px;
}

#indexTile{
	width: 100%;
	height: 150px;
	background-color: #DEDEDE;
	margin-top: -30px;
	margin-bottom: 20px;
}

#indexTile p {
	padding: 30px; 
	padding-left: 10px;
}

#indexTile p:first-child {
	font-size : 19pt;
}

#indexTile p:nth-child(2) {
	margin-top: -70px;
	font-size : 14pt;
}

.content {
	max-width: 1200px;
	margin: 0;
}

.content-elem {
	padding: 5px;
	padding-left: 0px;
	padding-right: 0px;
}

.content-elem .content-elem {
	padding: 0px;
}

.login-no-stretch {
	width: 32.3%;
	float: left;

	box-sizing: border-box;
}

.login {
	width: 31.3%;
	float: left;
}

.daily {
	width: 66.6%;
	float: left;
}

.fresh {
	width: 97.9%;
	float: left;
}

.span-user-name {
	font-size: 20pt;
	font-weight: 500;
	margin-top: -60px;
	display: inline-block;
	vertical-align: middle;
}

.user-name {
	font-size: 20pt;
	font-weight: 500;
	margin-top: -50px;
	margin-left: 90px;
	display: block;
	height: 50px;
}

.admin-login {
	color : darkred;
}

.admin-login:hover {
	color : darkred;
}

.admin-ban {
	color: gray;
}

.admin-ban:hover {
	color: gray;
}

@media screen and (max-width: 1100px) {
	.daily {
		width: 97.9%;
	}

	.login {
		width: 97.9%;
	}
}
/*******************/

/* Catégories */
.categories {
	/*width: 350px;*/
	/*float: left;*/
	/*margin: auto;*/
}

.categories table{
	width: 100%;
	border-collapse: collapse;
}

.categories td {	
	border-top: 1px solid #ddd;
	padding: 9px;
}

.categories tr:nth-child(even) {	
	background-color: #f9f9f9;
}
.categories tr:hover {	
	background-color: #f3f3f3;
}

.table-hover td{
	padding-left: 9px;
	transition: padding-left .2s ease-in;
}
			
.table-hover td:hover{
	padding-left: 20px;
	transition: padding-left .2s ease-in;
}
/********************/

/* Footer */
footer{
	margin: auto;
	bottom: 0;
	position: relative;
	width: 100%;
	float: left;
}

hr{
	border: solid 1px #DEDEDE;
	
}
/********************/

/* Post - Zone de réponse */
.respond-zone {
	padding: 15px;
}

textarea {
	width: 100%;
	height: 150px;
	border: solid 1px #D6D6D6;
	border-radius: 4px;
    box-shadow: inset 0px 1px 2px #ccc; 
	resize: vertical;
}
/********************/

.quote{
	border-radius: 4px;
	border: solid 1px #D6D6D6;
	background-color: #FBFBFB;
	padding: 6px;
	padding-left: 15px;
	padding-right: 15px;
	font-style: italic;
	display: inline-block;
}

/* Pagination & Recherche*/


input[type=checkbox] {
	height: 34px;
	width: 34px;
}

/********************/



/* Inscription */
/*
td span
{
	display: none;
}*/

.notification{
	float:right;
	background-color: lightgreen;
	border: solid 2px #d6e9c6;
	color: #3c763d;
	padding: 22px;
	padding-left: 35px;
	display:none;
}
/********************/

/* Commentaires */
.select-answer .content-bordered-title {
	background-image: linear-gradient(rgb(300, 233, 138) 0px, rgb(296, 211, 91) 100%);
	box-shadow: 0px 0px 5px 0px #d58512;
}
/********************/

.disliked-1:hover, .disliked-2:hover, .disliked-3:hover {
	opacity: 1;
}

.disliked-1, .disliked-2, .disliked-3 {
	transition: opacity .3s linear;
}

.disliked-1 {
	opacity: 0.7;
}

.disliked-2 {
	opacity: 0.5;
}

.disliked-3 {
	opacity: 0.2;
}

p a {
	color: #428bca;
	text-decoration: none;
}

p a:hover {
	color: #2a6496;
	text-decoration: underline;
}

.copyright {
	color: gray;
	padding: 5px;
}

/* Page Admin */

#admin-panel {
	margin-top: 10px;
	/*min-height: 700px;*/
}

.content-bordered  + div {
	margin-top: 15px;
}

.date {
	color: #AAA;
	font-size: 90%;
}